<app-anime-form *ngIf="openForm" (onClose)="closeForm()" [anime]="activeAnime"></app-anime-form>
<div class="box filter">
  <div class="content no-title">
    <form>
      <div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="ageNew" name="ageNew" [(ngModel)]="filter.age.new" (ngModelChange)="refilter()">
          <label class="form-check-label" for="ageNew">New</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="ageRedownload" name="ageRedownload" [(ngModel)]="filter.age.redownload" (ngModelChange)="refilter()">
          <label class="form-check-label" for="ageRedownload">Redownload</label>
        </div>
      </div>
      <div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="typeSeries" name="typeSeries" [(ngModel)]="filter.types.series" (ngModelChange)="refilter()">
          <label class="form-check-label" for="typeSeries">Series</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="typeMovie" name="typeMovie" [(ngModel)]="filter.types.movie" (ngModelChange)="refilter()">
          <label class="form-check-label" for="typeMovie">Movie</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="typeOva" name="typeOva" [(ngModel)]="filter.types.ova" (ngModelChange)="refilter()">
          <label class="form-check-label" for="typeOva">OVA</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="typeP18" name="typeP18" [(ngModel)]="filter.types.p18" (ngModelChange)="refilter()">
          <label class="form-check-label" for="typeP18">+18</label>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="floating-buttons">
  <div>
    <a href="#top" class="btn btn-primary" (click)="add()"><span>Add anime</span> <fa-icon [icon]="addIcon"></fa-icon></a>
    <app-random-button [items]="anime" [idTransform]="getAnimeId"></app-random-button>
  </div>
</div>
<app-list-table
  [data]="anime"
  [columns]="columns"
  [defaultSortKey]="'wantRank'"
  [defaultIsAsc]="false">
  <ng-template let-data>
    <ng-container [ngSwitch]="data.column.key">
      <ng-container *ngSwitchCase="'image'">
        <img [alt]="data.item.name" [src]="images[data.item.id]">
      </ng-container>
      <ng-container *ngSwitchCase="'type'">
        {{typeToString(data.item.type)}}
      </ng-container>
      <ng-container *ngSwitchCase="'addedDateTime'">
        {{data.item[data.column.key] | date:'dd.MM.yyyy'}}
      </ng-container>
      <ng-container *ngSwitchCase="'releaseDate'">
        {{data.item[data.column.key] | date:'dd.MM.yyyy'}}
      </ng-container>
      <ng-container *ngSwitchCase="'icons'">
        <a href="#animeForm" (click)="edit(data.item)" title="Edit">
          <fa-icon [icon]="editIcon"></fa-icon>
        </a>
        <a href="#" (click)="delete(data.item)" title="Delete">
          <fa-icon [icon]="deleteIcon"></fa-icon>
        </a>
      </ng-container>
      <ng-container *ngSwitchCase="'name'">
        <app-anime-title  [id]="ids[data.item.id]" [anime]="data.item"></app-anime-title>
      </ng-container>
      <ng-container *ngSwitchDefault>
        {{data.item[data.column.key]}}
      </ng-container>
    </ng-container>
  </ng-template>
</app-list-table>
<app-anime-stats [anime]="clearAnime"></app-anime-stats>
